[Unit]
Description=XolPanel - @XolPanel
After=network.target

[Service]
WorkingDirectory=/etc/xdxl
ExecStart=python3 -m xolpanel
Restart=always

[Install]
WantedBy=multi-user.target
